@media only screen and (max-width: 1024px) {
    /* .main-container-social-media-contect {
        display: none;
    } */
    .box-1-about-us h2 {
        font-size: 51px;
        padding: 0;
    }
    .box-1-about-us p {
        font-size: 18px;
    }
    .box-2-about-us {
        padding: 30px;
    }
    .box-1-about-us h4 {
        font-size: 21px;
    }
    .trainer-name {
        padding: 0px;
    }
    .trainer-name h4 {
        font-size: 18px;
        padding: 9px;
    }
    .trainer-name p {
        font-size: 16px;
    }
    .trainer-name1 p {
        font-size: 15px;
    }
}