* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


/* back to top button/ */

#button {
    display: inline-block;
    background-color: #FB5B21;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* header */

.main-header {
    background-color: #222429;
}

.main-header-navbar {
    display: flex;
}

.logo {
    width: 25%;
    text-align: center;
    align-self: center;
}

.logo a {
    text-decoration: none;
    color: #FB5B21 !important;
}

.logo a h1 {
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
}

.active {
    color: #FB5B21 !important;
}

.main-container-social-media-contect {
    width: 75%;
}

.container-social-media-contect {
    display: flex;
    background: #BDBDBF;
    padding: 18px 47px;
}

.contect {
    width: 50%;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: right;
}

.contect ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.contect ul li i {
    color: #FB5B21;
    padding-right: 10px;
}

.social-media ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.social-media ul li a {
    color: black;
    background: white;
    font-size: 17px;
    border-radius: 50%;
    padding: 7px 10px;
    font-size: 17px;
}

.navbar {
    display: flex;
    padding: 40px 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 38px;
    font-family: 'Oswald', sans-serif;
}

.navigation-bar {
    width: 75%;
}

.navigation-bar ul li a {
    text-decoration: none;
    color: white;
}

.navigation-bar ul li a:hover {
    color: #FB5B21;
}

.dropdown-icon:hover {
    color: #FB5B21;
}

.dropdown-icon:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.toggle-click {
    display: none;
    z-index: 1;
    position: absolute;
    top: 165px;
}

.toggle-click ul {
    display: block;
}

ul.toggle-open {
    padding: 0 35px 0px 10px;
    line-height: 2;
    background-color: white;
}

ul.toggle-open li a {
    color: black;
}

.join-button {
    width: 50%;
    text-align: right;
    align-self: center;
}

.join-button :hover {
    color: black;
}

.join-button a {
    font-weight: bold;
    background: #FB5B21;
    padding: 15px 46px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
}

.hamburger-toggle {
    display: none;
}

.responsive-navbar {
    display: none;
}


/* image banner */

.banner-and-container img {
    filter: brightness(0.4);
}

.image-contianer {
    width: 900px;
    text-align: center;
    position: absolute;
    font-family: 'Oswald', sans-serif;
}

.banner-and-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-contianer p {
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
}

.image-contianer h2 {
    font-size: 5.0rem;
    color: white;
    padding: 5px 0 30px;
}

a.button1 {
    color: white;
    background: #FB5B21;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: 8px;
}

a.button1:hover {
    color: black;
}

a.button2:hover {
    color: black;
}

a.button2 {
    color: #FB5B21;
    background: white;
    border-radius: 4px;
    padding: 1rem 1.75rem;
    text-decoration: none;
    margin-left: 8px;
}

.slick-next:before,
.slick-prev:before {
    font-size: 3rem !important;
    opacity: 1;
}

.slick-prev {
    left: 12% !important;
    z-index: 1;
}

.slick-next {
    right: 12% !important;
}

ul.slick-dots {
    display: none !important;
}


/* about us  */

.first-container-about-us {
    display: flex;
    padding: 23px;
}

.box-image-about-us {
    width: 38%;
    padding: 25px;
}

.box-image-about-us img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 590px;
}

.main-box-about-us {
    width: 62%;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
}

.box-1-about-us h5 {
    color: #FB5B21;
    font-size: 20px;
}

.box-1-about-us h2 {
    font-size: 56px;
    padding-bottom: 10px;
}

.box-1-about-us h4 {
    font-size: 24px;
    color: #5e636e;
    padding-bottom: 10px;
}

.box-1-about-us p {
    color: #5e636e;
    font-size: 20px;
    padding-bottom: 12px;
}

.box-2-about-us {
    background: #222429;
    border-radius: 5px;
    padding: 40px 30px;
}

.box-2-about-us ul {
    display: flex;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 29px;
}

.box-2-about-us ul li {
    list-style: none;
    color: white;
}

.box-2-about-us p {
    color: #BDBDBF;
    padding: 0 33px;
}

.box-2-about-us ul li {
    list-style: none;
    color: white;
    width: 50%;
    text-align: center;
    padding: 10px;
}


/* li.link-about-us {
                border-radius: 5px;
                background: #FB5B21;
            } */

.is-active {
    border-radius: 5px;
    background: #FB5B21;
}

.is-active:hover {
    color: white !important;
}

.about-peragraph1 {
    display: none;
}

li.link-about-us:hover {
    color: #FB5B21;
}

li.link-about-us1:hover {
    color: #FB5B21;
}


/* discount  */

.container-discount-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    padding: 18px;
    gap: 57px;
    position: relative;
    top: -115px;
}

.box-discount-detail {
    width: 28%;
    text-align: center;
    background-color: #F4F5F8;
    border-radius: 5px;
}

.box-discount a:hover {
    text-decoration-line: underline;
}

.box-discount {
    padding: 50px;
}

.box-discount-detail img {
    width: 100px;
}

.main-container-discount-detail {
    background: #222429;
    margin-top: 130px;
}

.box-discount h4 {
    font-size: 30px;
    padding: 18px 0;
    color: #222429;
}

.box-discount p {
    color: #777779;
    font-family: sans-serif;
    padding-bottom: 18px;
}

.box-discount a {
    color: #FB5B21;
    text-decoration: none;
    font-family: sans-serif;
}

.box-discount-column {
    text-align: center;
}

.box-discount-column a {
    color: white;
    text-decoration: none;
    background: #FB5B21;
    padding: 15px 50px;
    border-radius: 5px;
}

.box-discount-column h2 {
    color: white;
    font-size: 2.75rem;
    padding-bottom: 30px;
}

.box-discount-column a:hover {
    color: #222429;
}


/* class schedule */

.container-class-schedule {
    text-align: center;
    padding: 50px 0;
    font-family: 'Oswald', sans-serif;
}

.container-class-schedule h6 {
    color: #FB5B21;
    font-size: 19px;
    padding-bottom: 10px;
}

.container-class-schedule h2 {
    font-size: 4.0rem;
    -webkit-text-stroke: 1px;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.week-names ul {
    display: inline-flex;
    justify-content: center;
    background: #222429;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 17px;
    flex-wrap: wrap;
    margin-bottom: 35px
}

.week-names ul li {
    list-style: none;
}

.week-day-name {
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.active-day-name {
    background: #FB5B21;
    border-radius: 50px;
}


/* #222429 */

.main-container-time-name-teacher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-box-time-name-teacher {
    width: 25%;
}

.box-time-name-teacher h6 {
    color: white;
    font-size: 1rem;
}

.box-time-name-teacher h5 {
    color: #FB5B21;
    font-size: 1.25rem;
    padding-bottom: 7px;
}

.box-time-name-teacher p {
    color: #BDBDBF;
    font-family: sans-serif;
    font-size: 1rem;
}

.box-time-name-teacher {
    margin: 16px 22px;
    background: #222429 !important;
    border-radius: 5px;
    padding: 50px 0;
}

.container-number-counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #222429 !important;
    font-family: 'Oswald', sans-serif;
    padding: 60px 0;
    margin-bottom: 3rem;
}

.box-number-counter {
    width: 25%;
    display: flex;
    justify-content: center;
}

.box-number-counter i {
    width: 1.4rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background: #FB5B21;
    border-radius: 50px;
    color: white;
    padding: 15px;
    margin-right: 15px;
}

.number h3 {
    color: #BDBDBF;
}

.number h2 {
    color: #fff;
    font-size: 3rem !important;
}


/* counter */

.odometer {
    font-size: 100px !important;
    font-weight: 700 !important;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
    text-align: center;
}


/* trainer detail */

.container-expert-trainer {
    text-align: center;
    padding: 25px;
}

.container-expert-trainer h6 {
    font-size: 18px;
    color: #FB5B21;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

.container-expert-trainer h2 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.container-trainer-image {
    display: flex;
}

.box-trainer-image {
    width: 33%;
    padding: 23px;
}

.trainer-image {
    position: relative;
    overflow: hidden;
}

.trainer-image img {
    width: 100%;
    border-radius: 5px;
    transition: 0.7s;
}

.trainer-image:hover img {
    transform: scale(1.2);
}

.trainer-name {
    position: absolute;
    background: #222429c7;
    padding: 23px 0;
    bottom: 3px;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
}

.trainer-name h4 {
    padding-bottom: 8px;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.trainer-name p {
    color: #BDBDBF;
}

.hover-social-media {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 36, 41, .9);
    transition: .5s;
    opacity: 0;
}

.trainer-image:hover .hover-social-media {
    opacity: 1;
}

.box-social-media {
    display: flex;
}

.box-social-media a i {
    font-size: 20px;
    color: black;
    background: white;
    margin: 10px;
    border-radius: 50px;
    width: 20px;
    padding: 10px;
    height: 20px;
}

.trainer-image:hover .hover-social-media {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

i.fa.fa-twitter:hover {
    background: #FB5B21;
    transition: 0.3s;
}

i.fa.fa-facebook:hover {
    background: #FB5B21;
    transition: 0.3s;
}

i.fa.fa-linkedin:hover {
    background: #FB5B21;
    transition: 0.3s;
}


/* testimonial sider client */

.container-testimonial-clint {
    display: flex;
    flex-wrap: wrap;
    background-color: #222429;
}

.box-testimonial-clint-image {
    width: 50%;
}

.box-testimonial-clint-image img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.main-box-testimonial-clint {
    width: 50%;
    align-self: center;
}

.box-testimonial-clint h2 {
    color: #F4F5F8;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.box-testimonial-clint h6 {
    color: #FB5B21;
    font-family: 'Oswald';
    font-size: 1.25rem;
    padding-bottom: 10px;
}

.box-testimonial-clint {
    padding: 45px;
}

.testimonial-slider-clint p i {
    color: #FB5B21;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 1rem;
}

.testimonial-slider-clint p {
    font-size: 1.5rem;
    color: #F4F5F8;
    line-height: 1.5;
    padding-bottom: 29px;
}

.clint-image-and-name {
    display: flex;
}

.clint-image-and-name {
    display: flex;
    align-items: center;
}

.clint-image-and-name img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.clint-name-prafassion {
    padding-left: 29px;
}

.clint-name-prafassion h4 {
    color: white;
    padding-bottom: 10px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    font-size: 20px;
}

.clint-image-and-name p {
    padding: 0;
    font-size: 15px;
    color: #b5b6b8;
}

.main-testimonial-slider .slick-prev {
    left: 0 !important;
    top: 110%;
}

.main-testimonial-slider .slick-next {
    left: 60px;
    top: 110%;
}

.slick-next:before,
.slick-prev:before {
    color: #FB5B21 !important;
}

.trainer-image1 {
    background: #222429;
    overflow: hidden;
}

.trainer-image1:hover .hover-social-media {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.trainer-image1:hover img {
    transform: scale(1.2);
}

.trainer-image1 img {
    width: 100%;
    border-radius: 5px;
    transition: 0.7s;
}

.trainer-name1 {
    position: relative;
    z-index: 1;
    background-color: #222429;
}

.trainer-name1 h4 {
    padding-bottom: 8px;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.post-date {
    display: flex;
    padding: 10px 23px;
    align-items: center;
}

.post-box-1 {
    border-right: 1px solid #BDBDBF;
    padding-right: 15px;
}

.post-box-2 {
    text-align: left;
    padding-left: 20px;
    font-family: 'Oswald';
}

.post-box-1 span {
    color: #BDBDBF;
}

.trainer-name1 p {
    color: #F4F5F8;
    font-size: 21px;
    font-weight: bold;
}


/* footer */

.footer {
    display: flex;
    background: #222429;
    padding: 0 30px;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    justify-content: center;
}

.container-footer {
    width: 33%;
    padding-top: 30px;
}

.container-news-latter {
    width: 34%;
    background-color: #FB5B21;
    text-align: center;
}

.box-footer h2 {
    color: #F4F5F8;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
}

.box-footer p {
    color: #BDBDBF !important;
    padding-bottom: 15px;
}

.box-footer p i {
    padding-right: 10px;
    color: #FB5B21;
}

.box-footer ul li a {
    text-decoration: none;
    color: #BDBDBF;
    line-height: 2;
}

.box-footer ul {
    list-style: none;
}

.box-footer ul li a i {
    padding-right: 10px;
    color: #FB5B21;
}

.news-latter h2 {
    color: white;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
}

.news-latter h5 {
    color: white;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
}

.news-latter p {
    color: white;
    font-size: 15px;
    padding-bottom: 11px;
}

.news-latter input {
    border: none;
    padding: 15px;
    border-radius: 3px 0 0 3px;
    font-family: "Oswald", sans-serif;
}

.news-latter button {
    background: black;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 0 3px 3px 0;
    margin-left: -6px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
}

.container-news-latter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-rights {
    display: flex;
    background: black;
    padding: 0 30px;
}

.box-rights-1 {
    width: 66%;
    padding: 30px 0;
    text-align: center;
}

.box-rights-2 {
    padding: 30px 0;
    text-align: center;
    width: 34%;
    background-color: #FB5B21;
}

.box-rights-1 p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 3px;
}

.box-rights-1 p {
    color: white;
}

.box-rights-2 p a {
    color: white;
    font-weight: bolder;
}

.box-rights-2 p {
    color: white;
}


/* .news-latter {
    padding: 10%;
} */